openapi: 3.1.0
info:
  title: NSLookup.io API
  description: |
    Public API for DNS lookups, DNS health reports, SSL certificate checks, security scanning, GEO (AI readiness) scoring, and domain intelligence.

    Have questions or feedback? [Contact us](https://nslookup.io/contact-us/) or email [hello@nslookup.io](mailto:hello@nslookup.io).

    ## Rate Limits

    | API | Limit | Per |
    |-----|-------|-----|
    | DNS Lookup, Propagation & Health | 30 requests/min | IP |
    | SSL Certificate, BIMI/VMC, Uptime, GEO | 100 requests/min | IP |
    | Security Scan | 5 requests/min, 20/hour | IP |

    ## MCP Integration

    This API powers the [@nslookup-io/mcp-server](https://www.npmjs.com/package/@nslookup-io/mcp-server) (11 tools) for use with AI assistants like Claude, ChatGPT, Cursor, and more.

    ```bash
    claude mcp add nslookup --scope user -- npx -y @nslookup-io/mcp-server
    ```

  version: 1.3.0
  contact:
    name: NSLookup.io
    url: https://nslookup.io


servers:
  - url: https://www.nslookup.io
    description: Production

tags:
  - name: DNS
    description: DNS record lookups, propagation checks, and health reports
  - name: Security
    description: SSL certificates, BIMI/VMC, security scanning, and CAA
  - name: Monitoring
    description: Uptime and availability checks
  - name: GEO
    description: AI readiness (Generative Engine Optimization) scoring

paths:
  /api/v1/records:
    get:
      operationId: dnsLookup
      tags: [DNS]
      summary: Look up common DNS records
      description: Returns A, AAAA, NS, MX, TXT, CNAME, and SOA records for a domain in a single request.
      parameters:
        - name: domain
          in: query
          required: true
          schema:
            type: string
            example: github.com
          description: Domain name to look up
        - name: server
          in: query
          required: false
          schema:
            type: string
            default: cloudflare
            enum: [cloudflare, cloudflare2, google, quad9, opendns, authoritative, southafrica, australia, india, thenetherlands, canada, usa, brazil, ukraine, russia]
          description: DNS server to query. Use `authoritative` for the domain's own nameservers.
      responses:
        "200":
          description: DNS records for the domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  punycodeDomain:
                    type: string
                    example: "github.com."
                  unicodeDomain:
                    type: string
                    example: "github.com."
                  records:
                    type: object
                    description: Record types (a, aaaa, ns, mx, txt, cname, soa) each containing query and response
        "400":
          description: Invalid domain format
        "429":
          description: Rate limit exceeded (30 req/min)
        "504":
          description: DNS query timeout

  /api/v1/records/other:
    get:
      operationId: dnsRecord
      tags: [DNS]
      summary: Look up a specific DNS record type
      description: |
        Query any of the 53 supported DNS record types for a domain.

        For PTR lookups, pass an IP address as the domain parameter.

        For SPF lookups, returns parsed SPF data in addition to the raw TXT record.
      parameters:
        - name: domain
          in: query
          required: true
          schema:
            type: string
            example: github.com
          description: Domain name (or IP address for PTR lookups)
        - name: type
          in: query
          required: true
          schema:
            type: string
            example: MX
            enum: [A, AAAA, AFSDB, APL, AXFR, CAA, CDNSKEY, CDS, CERT, CNAME, CSYNC, DHCID, DLV, DNAME, DNSKEY, DS, EUI48, EUI64, HINFO, HIP, HTTPS, IPSECKEY, IXFR, KEY, KX, LOC, MX, NAPTR, NS, NSEC, NSEC3, NSEC3PARAM, NXT, OPENPGPKEY, OPT, PTR, RP, RRSIG, SIG, SMIMEA, SOA, SPF, SRV, SSHFP, SVCB, TA, TKEY, TLSA, TSIG, TXT, URI, ZONEMD]
          description: DNS record type
        - name: server
          in: query
          required: false
          schema:
            type: string
            default: cloudflare
            enum: [cloudflare, cloudflare2, google, quad9, opendns, authoritative, southafrica, australia, india, thenetherlands, canada, usa, brazil, ukraine, russia]
          description: DNS server to query
      responses:
        "200":
          description: DNS record result
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Invalid domain or record type
        "429":
          description: Rate limit exceeded
        "504":
          description: DNS query timeout

  /api/v1/records/webservers:
    post:
      operationId: webservers
      tags: [DNS]
      summary: Get IP addresses for a domain
      description: Returns both IPv4 (A) and IPv6 (AAAA) records along with punycode/unicode domain representations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  example: github.com
                  description: Domain name
      responses:
        "200":
          description: IP addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  punycodeDomain:
                    type: string
                    example: "github.com."
                  unicodeDomain:
                    type: string
                    example: "github.com."
                  a:
                    type: object
                    description: IPv4 (A) record result
                  aaaa:
                    type: object
                    description: IPv6 (AAAA) record result

  /api/v1/propagation:
    post:
      operationId: dnsPropagation
      tags: [DNS]
      summary: Check DNS propagation across global servers
      description: |
        Checks DNS propagation across 18+ global DNS servers including:
        - **Global resolvers:** Cloudflare, Google, Quad9, OpenDNS, CleanBrowsing, AdGuard, NextDNS
        - **Regional servers:** South Africa, Australia, India, Netherlands, Canada, USA, Brazil, Ukraine, Russia
        - **Authoritative nameservers:** Auto-discovered from the domain's NS records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain, recordType]
              properties:
                domain:
                  type: string
                  example: github.com
                  description: Domain name
                recordType:
                  type: string
                  example: A
                  enum: [A, AAAA, AFSDB, APL, AXFR, CAA, CDNSKEY, CDS, CERT, CNAME, CSYNC, DHCID, DLV, DNAME, DNSKEY, DS, EUI48, EUI64, HINFO, HIP, HTTPS, IPSECKEY, IXFR, KEY, KX, LOC, MX, NAPTR, NS, NSEC, NSEC3, NSEC3PARAM, NXT, OPENPGPKEY, OPT, PTR, RP, RRSIG, SIG, SMIMEA, SOA, SPF, SRV, SSHFP, SVCB, TA, TKEY, TLSA, TSIG, TXT, URI, ZONEMD]
                  description: DNS record type to check propagation for
      responses:
        "200":
          description: Propagation results from all servers
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: Array of results from each DNS server
                    items:
                      type: object
                      properties:
                        success:
                          type: boolean
                        queryLocation:
                          type: string
                        queryTarget:
                          type: string
                        server:
                          type: object
                          properties:
                            ip:
                              type: string
                            domain:
                              type: string
                        answer:
                          type: array
                          items:
                            type: object
        "429":
          description: Rate limit exceeded

  /portal-api/v1/certificates/check:
    post:
      operationId: sslCertificate
      tags: [Security]
      summary: Check SSL/TLS certificate
      description: Connects to the domain on port 443 and returns full SSL/TLS certificate details including chain validation, cipher information, and SAN domains.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  example: github.com
                  description: Domain name to check
      responses:
        "201":
          description: Certificate details
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                    example: github.com
                  status:
                    type: string
                    enum: [valid, expired, error]
                    example: valid
                  issuer:
                    type: string
                    example: Sectigo Limited
                  subject:
                    type: string
                    example: github.com
                  serialNumber:
                    type: string
                  validFrom:
                    type: string
                    format: date-time
                  validTo:
                    type: string
                    format: date-time
                  daysUntilExpiry:
                    type: integer
                    example: 72
                  chainValid:
                    type: boolean
                    example: true
                  sanDomains:
                    type: array
                    items:
                      type: string
                    example: ["github.com", "www.github.com"]
                  fingerprint:
                    type: string
                  alertLevel:
                    type: string
                    enum: [ok, info, warning, critical, expired]
                    example: ok
                    description: "ok (>90d), info (60-90d), warning (30-60d), critical (0-30d), expired"
                  cipher:
                    type: object
                    properties:
                      name:
                        type: string
                        example: TLS_AES_128_GCM_SHA256
                      standardName:
                        type: string
                      version:
                        type: string
                        example: TLSv1.3
                  cipherStrength:
                    type: integer
                    example: 128
                  protocolVersion:
                    type: string
                    example: TLSv1.3

  /portal-api/v1/vmc/check:
    post:
      operationId: bimiVmc
      tags: [Security]
      summary: Check BIMI record and VMC certificate
      description: |
        Queries the `default._bimi.{domain}` TXT record and, if a VMC certificate URL is found, fetches and parses the PEM certificate.

        Returns BIMI record status, VMC certificate details, logo URL, and trademark information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  example: google.com
                  description: Domain name to check
      responses:
        "201":
          description: BIMI/VMC status
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                  status:
                    type: string
                    enum: [valid, no_bimi, invalid, error]
                    example: no_bimi
                  bimiRecord:
                    type: string
                    description: Raw BIMI TXT record value
                  vmcCertUrl:
                    type: string
                    description: URL to the VMC certificate PEM file
                  logoUrl:
                    type: string
                    description: URL to the brand logo (SVG)
                  issuer:
                    type: string
                  subject:
                    type: string
                  validFrom:
                    type: string
                    format: date-time
                  validTo:
                    type: string
                    format: date-time
                  daysUntilExpiry:
                    type: integer
                  trademarkCountry:
                    type: string
                  trademarkNumber:
                    type: string
                  trademarkName:
                    type: string
                  alertLevel:
                    type: string
                    enum: [ok, info, warning, critical, expired]
                  errorMessage:
                    type: string

  /scanner-api/v1/security-scan:
    post:
      operationId: securityScan
      tags: [Security]
      summary: Scan domain for security issues
      description: |
        Runs a comprehensive security scan detecting:
        - DNS misconfigurations
        - Missing or invalid SPF/DKIM/DMARC records
        - Cookie security issues
        - HTTP security header gaps
        - Other web security vulnerabilities

        Each finding includes a severity level: critical, high, medium, low, or info.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  example: example.com
                  description: Domain name to scan
      responses:
        "201":
          description: Security scan results
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                    example: example.com
                  ip:
                    type: string
                    example: "93.184.215.14"
                  port:
                    type: string
                    example: "443"
                  scanDuration:
                    type: integer
                    description: Scan duration in seconds
                  totalFindings:
                    type: integer
                    example: 4
                  summary:
                    type: object
                    properties:
                      critical:
                        type: integer
                        example: 0
                      high:
                        type: integer
                        example: 0
                      medium:
                        type: integer
                        example: 3
                      low:
                        type: integer
                        example: 1
                      info:
                        type: integer
                        example: 0
                  findings:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        severity:
                          type: string
                          enum: [critical, high, medium, low, info]
                        category:
                          type: string
                        method:
                          type: string
                        url:
                          type: string
                        message:
                          type: string
        "429":
          description: Rate limit exceeded (5 req/min, 20 req/hour)

  /portal-api/v1/uptime/check:
    post:
      operationId: uptimeCheck
      tags: [Monitoring]
      summary: Check if a URL is up
      description: Performs a one-time HTTP uptime check measuring response time and status code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  example: https://github.com
                  description: Full URL to check (must include protocol)
                timeout:
                  type: integer
                  example: 10000
                  description: Timeout in milliseconds (default 10000)
      responses:
        "201":
          description: Uptime check result
          content:
            application/json:
              example:
                status: up
                responseTime: 81
                statusCode: 200
                timestamp: "2026-03-23T13:27:01.074Z"
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [up, down, timeout, error]
                    example: up
                  responseTime:
                    type: integer
                    description: Response time in milliseconds
                    example: 81
                  statusCode:
                    type: integer
                    example: 200
                  timestamp:
                    type: string
                    format: date-time

  /portal-api/v1/uptime/check-multi:
    post:
      operationId: uptimeCheckMulti
      tags: [Monitoring]
      summary: Check uptime from 7 global locations
      description: |
        Performs simultaneous uptime checks from 7 locations:
        Amsterdam, Sydney, London, Frankfurt, Delhi, Warsaw, South Carolina.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  example: https://github.com
                  description: Full URL to check (must include protocol)
      responses:
        "201":
          description: Multi-location uptime results
          content:
            application/json:
              schema:
                type: object

  /api/v1/dns-health/{domain}:
    get:
      operationId: dnsHealth
      tags: [DNS]
      summary: Run a DNS health audit
      description: |
        Comprehensive DNS infrastructure audit with 39 checks across 7 categories:

        - **DNSSEC** — chain of trust, DNSKEY/DS records, validation status, algorithms, NSEC mode
        - **MX & Email** — MX resolution, PTR match, redundancy, IP diversity, MTA-STS enforcement
        - **DNS Hygiene** — duplicate TXT, conflicting SPF, wildcard MX/TXT, apex CNAME
        - **TTL & SOA** — TTL ranges for NS/MX/A/AAAA, SOA values, consistency
        - **Nameservers** — minimum 2 NS, IP diversity, ASN diversity, lame delegation, latency, EDNS0
        - **CAA** — record presence, issuewild restrictions, iodef reporting
        - **Operations** — abuse mailbox, security.txt

        Returns a severity-weighted overall score (0–100) plus per-category scores. Critical checks (10 pts) weigh more than warning (5 pts) and info (2 pts).
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
            example: cloudflare.com
          description: Domain name to audit
      responses:
        "200":
          description: DNS health report
          content:
            application/json:
              example:
                domain: cloudflare.com
                score: 90
                checkedAt: "2026-04-02T13:30:29.270Z"
                categories:
                  dnssec:
                    name: DNSSEC
                    score: 100
                    checks:
                      - key: enabled_on_zone
                        label: DNSSEC enabled on zone
                        pass: true
                        value: true
                        severity: critical
              schema:
                type: object
                properties:
                  domain:
                    type: string
                    example: cloudflare.com
                  score:
                    type: integer
                    description: Overall severity-weighted score (0–100)
                    example: 90
                  checkedAt:
                    type: string
                    format: date-time
                  categories:
                    type: object
                    description: "7 categories: dnssec, mx, hygiene, ttl, nsConfig, caa, operations"
                    additionalProperties:
                      type: object
                      properties:
                        name:
                          type: string
                        score:
                          type: integer
                        checks:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              label:
                                type: string
                              pass:
                                type: boolean
                                nullable: true
                              value: {}
                              severity:
                                type: string
                                enum: [critical, warning, info]
        "429":
          description: Rate limit exceeded

  /api/v1/dns-health/{domain}/og-image:
    get:
      operationId: dnsHealthOgImage
      tags: [DNS]
      summary: Generate OG image for DNS health report
      description: Returns a 1200×630 PNG image showing the domain's DNS health score circle, label, and branding. Used as `og:image` for social media sharing previews. Cached for 1 hour.
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
            example: cloudflare.com
          description: Domain name
      responses:
        "200":
          description: PNG image (1200×630)
          content:
            image/png:
              schema:
                type: string
                format: binary

  /portal-api/v1/geo/check:
    post:
      operationId: geoChecker
      tags: [GEO]
      summary: Check GEO (AI readiness) score
      description: |
        Analyzes how well a website is optimized for AI search engines (ChatGPT, Gemini, Claude, Perplexity). Returns three sub-scores:

        - **Technical Readiness (40 pts)** — robots.txt, llms.txt, sitemap, meta tags, indexability
        - **Entity Readiness (30 pts)** — Organization schema, Open Graph, Twitter Cards, brand consistency
        - **Answer Readiness (30 pts)** — Structured data, heading hierarchy, FAQ content, word count

        Also returns AI crawler access status for 8 bots (GPTBot, ClaudeBot, Google-Extended, etc.) and prioritized recommendations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                  example: github.com
                  description: Domain name to check
      responses:
        "201":
          description: GEO score and recommendations
          content:
            application/json:
              schema:
                type: object
